# Please add requirements for installation here
audiomentations==0.34.1
ipython==8.18.1
librosa==0.10.1
numpy==1.26.2
torchaudio==2.1.1
torch_audiomentations==0.11.0
torch==2.1.1
lightning==2.1.2
torchmetrics==1.2.0
torchvision==0.16.1
scikit-learn==1.3.2
tqdm==4.66.1
pillow==10.1.0
pandas==2.1.3
transformers==4.38.2
datasets==2.18.0
hydra-core == 1.3.2
hydra_colorlog == 1.2.0
#rootuils #== 1.0.7
wandb ==  0.16.0
rich==13.7.0
